@charset "UTF-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #2b2a27;
    font-weight: 350;
    font-style: normal;
    margin: 40px;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: #2b2a27;
    text-decoration: none;
}

/*---------------
    ヘッダー
----------------*/
.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo img {
    width: 10%;
}

#header-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#header-menu ul {
    display: flex;
}

#header-menu ul li {
    margin-left: 10px;
}


/*---------------
    コンテナ 
----------------*/
#container {
    display: flex;
    margin-bottom: 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* ブロック要素自体を中央ぞろえにするプロパティ(親要素内で要素を水平方向に中央揃え) */
    padding: 0 5%;
    /* 上下左右の内側の余白を指定 */
}

#container section {
    width: 100%;
    /* display: flex;の子要素にwidth: 100%を指定することで横並びの幅が均等になる */
}

/*---------- 左 ----------*/
#item-image {
    padding: 10px;
}

#item-image img {
    width: 80%;
}

/*---------- 右 ----------*/

#item-information h2 {
    margin-bottom: 30px;
    border-top: solid 1px #2a2a2a;
    border-bottom: solid 1px #2a2a2a;
    padding-top: 10px;
    font-size: medium;
}

#item-information p {
    margin-bottom: 30px;
    font-size: smaller;
}

/*------ テーブル ------*/
.item-information-size>*,
.select-size>* {
    width: 100%;
    /* 子要素の幅を親要素と同じにする */
    box-sizing: border-box;
    /* 子要素の幅を親要素と同じにする */
}

.table1,
.table2 {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

/* 最後だけ縦線を入れない*/
.table1 th:not(:last-child),
.table1 td:not(:last-child) {
    border-right: 1px solid #ccc;
}

/* 最後だけ横線を入れない*/
.table1 tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.table2 thead,
.table2 tr th {
    background: #e8e8e8;
}

.table2 th,
.table2 td {
    border: 1px solid #ccc;
    padding: 10px;
}

.table1 .color,
.table1 .size {
    width: 100px;
}

.table1 tr {
    height: 40px
}

/*------ テーブル（セレクトボックス） ------*/
select {
    position: relative;
    width: 80%;
    text-align: center;
}

/*
.item-size {
    position: relative;
    border: solid 1px #2a2a2a;
    margin: 15px;
}
*/

/* セレクトボックス矢印のデザイン */
/*.item-size::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 16px;
    width: 12px;
    height: 12px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
}
*/

/*------ ボタン ------*/
#item-information .btn {
    display: inline-block;
    background-color: #404040;
    padding: 14px 36px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

    width: 100%;
    /* 子要素の幅を親要素と同じにする */
}

.btn button {
    color: #ffff;
    background-color: #404040;
    font-size: 1rem;
    width: 100%;
}

/*---------------
    フッター 
----------------*/
footer {
    text-align: center;
}

/*-------------------------------------------
    SP
-------------------------------------------*/
/* 幅が最大で896pxのとき（スマホに適用） */
@media screen and (max-width: 896px) {

    /* andと()の間に空白がないと効かなくなるので注意 */
    header {
        margin-bottom: 0;
        border-bottom: none;
        padding: 36px 16px 16px 16px;
    }

    .logo a img {
        width: 40%;
    }

    #header-menu {
        overflow-x: scroll;
    }

    #container {
        flex-direction: column;
    }

    #container #item-image {
        max-width: 100%;
        margin: 0 0 10px 0;
    }

    #container #item-information {
        padding: 0 16px;
    }
}